<div class="mat-elevation-z8">
  <table mat-table class="full-width-table mat-table" style="min-width: 100% !important;" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="FName">
      <th mat-header-cell style="padding: 2%;" *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell style="padding: 2%; " *matCellDef="let row">{{row.FName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="LName">
      <th mat-header-cell style="padding: 2%;" *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell style="padding: 2%;" *matCellDef="let row">{{row.LName}}</td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell style="padding: 2%;" *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell style="padding: 2%;" *matCellDef="let row">{{row.Email}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Phone">
      <th mat-header-cell style="padding: 2%;" *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell style="padding: 2%;" *matCellDef="let row">{{row.Phone}}</td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="Company" style="padding: 2%;">
      <th mat-header-cell style="padding: 2%;" *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell style="padding: 2%;" *matCellDef="let row">{{row.Company}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Position">
      <th mat-header-cell style="padding: 2%;" *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell style="padding: 2%;" *matCellDef="let row">{{row.Position}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-paginator" #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="25"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>