<div class="mat-elevation-z8 table-responsive mat-table-lg">
    <mat-table class="mat-table-lg table-responsive table-hover" style="width: fit-content;" matSort aria-label="Elements">
      <!-- FName Column -->
      <ng-container matColumnDef="FName">
        <mat-header-cell style="padding: 1%;" *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell style="padding: 1%; " *matCellDef="let row">{{row.FName}}</mat-cell>
      </ng-container>

      <!-- LName Column -->
      <ng-container matColumnDef="LName">
        <mat-header-cell style="padding: 1%;" *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell style="padding: 1%;" *matCellDef="let row">{{row.LName}}</mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <mat-header-cell style="padding: 1%;" *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell style="padding: 1%; width: 150%;" *matCellDef="let row">{{row.Email}}</mat-cell>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="Phone">
        <mat-header-cell style="padding: 1%;" *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell style="padding: 1%;" *matCellDef="let row">{{row.Phone}}</mat-cell>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="Company" style="padding: 1%;">
        <mat-header-cell style="padding: 1%;" *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
        <mat-cell style="padding: 1%;" *matCellDef="let row">{{row.Company}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Position">
        <mat-header-cell style="padding: 1%;" *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
        <mat-cell style="padding: 1%;" *matCellDef="let row">{{row.Position}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator class="mat-paginator" #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 150]">
    </mat-paginator>
</div>