<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar black-border"
  style="background-color:#FE5C00; opacity: 0.89;">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand font-weight-bold" href="https://business.okstate.edu/msis/" target="_blank">
      <img class="img-responsive" src="../assets/IMG/Spears.jpg" height="50em">
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link white-text font-weight-bold" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text font-weight-bold" href="https://www.orangeconnection.org/s/860/18/home.aspx"
            target="_blank">OKState Alumni Association</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text font-weight-bold" href="https://business.okstate.edu/" target="_blank">Spears
            School of Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text font-weight-bold"
            href="https://go.okstate.edu/undergraduate-academics/majors/management-information-systems.html"
            target="_blank">About MSIS at OSU </a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.facebook.com/SpearsBusinessOSU/" class="nav-link" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item ">
          <a href="https://twitter.com/spearsbusiness?lang=en" class="nav-link" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item ">
          <a href="https://www.instagram.com/spearsbusinessosu/" class="nav-link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/company/spears-school-of-business/" class="nav-link" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->

<!-- Full Page Intro -->
<div class="view full-page-intro"
  style="background-image: url('../assets/IMG/new-building.jpg'); background-repeat: no-repeat; background-size: cover;">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container wow fadeIn">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left black-border wow fadein"
          style='background: rgb(0, 0, 0, 0.5)'>

          <h1 class="display-4 font-weight-bold text-center wow fadein">Management Information Systems Alumni</h1>
          <h2 class="display-5 font-weight-bold text-center">Spears School of Business - Oklahoma State University</h2>



          <p class="mb-4 d-none d-md-block">
            <strong> </strong>
          </p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->

<!--Main layout-->
<main>
  <div class="container">

    <!--Section: Main info-->

    <!--Section: Main info-->

    <hr class="my-5">

    <!--Section: About US-->
    <section class="wow fadeIn" style="background: rgb(255, 255, 255); padding: 2%;">

      <h3 class="h3 text-center mb-5">About US</h3>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row wow fadeIn">
            <div class="col-12">

              <h5 class="feature-title text-center wow fadeIn">Spears School of Business</h5>
              <p>Is the place where business is personal, we strive to provide our
                alumni network with opportunities to express their own personal experiences in both
                life and business—and aim to equip them with a tightknit network that emphasizes
                interpersonal relationships and lifelong professional interaction.
              </p>

              <h5 class="feature-title text-center">Program Information</h5>
              <p class="black-text text-center">The MIS degree focuses on the business applications of information
                technology and data analytics.
                This includes emphasizing necessary skills required in the analysis, development, and implementation of
                various information, communication,
                and data analytics technologies critical in all organizations.</p>



            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://www.youtube-nocookie.com/embed/47k3rpIbL-0?controls=0&autoplay=1&mute=1&loop=1&playlist=47k3rpIbL-0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!--/Grid column-->

      </div>
      <!--/Grid row-->



    </section>
    <!--Section: About US-->

    <hr class="my-5">

    <!--Section: Database-->
    <section style="background: rgb(255, 255, 255); padding: 2%;">

      <h2 class="my-5 h3 text-center">Current Alumni</h2>

      <!--First row-->
      <div class="row features mb-5 mt-3 d-flex align-items-center justify-content-center">

        <app-data-table></app-data-table>

      </div>
      <!--/First row-->

    </section>
    <!--Section: Database-->

    <!--Section: More-->
    <section>

      <div class="row features-small mb-5 mt-3 wow fadeIn">

      </div>

    </section>
    <!--Section: More-->

  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn bg-dark">


  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/SpearsBusinessOSU/" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/spearsbusiness?lang=en" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.instagram.com/spearsbusinessosu/" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>

    <a href="https://www.linkedin.com/company/spears-school-of-business/" target="_blank">
      <i class="fab fa-linkedin mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->


</footer>
<!--/.Footer-->